@font-face {
    font-family: ArialMT;
    src: url(../fonts/ArialMT.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

/* body's start */
body {
    height: 100%;
}

a {
    outline: none;
}

h1, h3, h4, p {
    font-family: ArialMT;
}

/* container's start */
.container {
    width: 1280px;
    margin: 0px auto;
    min-height: 100%;
    border-width: 1px 1px 0px 1px;
    border-color: #e9eaec;
    border-style: solid;
}

/* header's start */
.header {
    background-color: #445162;
}

.header h1 {
    font-size: 60px;
    font-weight: 400;
    margin: 0px;
    padding: 50px 0px 30px 50px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    float: left;
}

.header img[alt="logo"] {
    margin: 60px 50px 0px 0px;
    float: right;
}

.ul {
    padding-bottom: 50px;
    clear: left;
}

.ul li {
    list-style-image: url(../img/check_icon.png);
    font-family: ArialMT;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 90px;
}
/* header's end */

/* main's start */

/* first section's start */
.s1 h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 50px 0px 30px 50px;
    float: left;
}

.s1 img[alt="video"] {
    margin: 50px 50px 0px 0px;
    float: right;
}

.s1 p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px 100px 20px 50px;
    width: 51%;
    clear: left;
}
/* first section's end */

/* second section's start */
.s2 {
    background-color: #f5f5f5;
    margin-top: 70px;
}

.s2:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.s2 h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    clear: right;
    padding: 50px 0px 30px 0px;
}

.ul1 {
    float: left;
    width: 40%;
    margin-left: 90px;
}

.ul2 {
    float: right;
    width: 40%;
    margin-right: 70px;
}

.s2 ul li {
    list-style-type: none;
    font-family: ArialMT;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 35px;
    position: relative;
}

.s2 ul li:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 5px;
    left: -40px;
}
/* second section's end */

/* third section's start */
.s3 h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #445161;
    margin-top: 50px;
    text-align: center;
}

.f1 {
    width: 50%;
    float: left;
    margin-right: 15px;
}

.f1 img[alt="image"] {
    margin: 35px 15px 0px 50px;
    float: left;
}

.f1 h4 {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}

.f1 p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.f2 img[alt="image"] {
    margin: 35px 15px 0px 0px;
    float: left;
}

.f2 h4 {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 30px;
}

.f2 p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 50px;
    padding-bottom: 30px;
}

.f3 {
    clear: left;
    float: left;
    width: 48%;
    margin-right: 25px;
}

.f3 img[alt="image"] {
    margin: 30px 15px 0px 50px;
    float: left;
}

.f3 h4 {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 25px;
}

.f3 p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.f4 img[alt="image"] {
    margin: 30px 15px 50px 15px;
    float: left;
}

.f4 h4 {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 25px;
}

.f4 p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 50px;
}
/* third section's end */

/* fourth section's start */
.s4 {
    background-color: #f5f5f5;
    margin-top: 50px;
    clear: both;
}

.s4 h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 35px;
}

.s4 span {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.text1 {
    margin-bottom: 70px;
}

.text1 img {
    float: left;
    margin: 0px 15px 0px 50px;
    padding-bottom: 20px;
}

.text1 p {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-style: italic;
    width: 45%;
}

.text2 {
    margin-bottom: 70px;
}

.text2 img {
    float: left;
    margin: 0px 15px 0px 50px;
    padding-bottom: 20px;
}

.text2 p {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-style: italic;
    width: 45%;
}
/* fourth section's end */
/* main's end */
/* container's end */
/* body's end */

/* Additional comments */