@font-face {
    font-family: ArialMT;
    src: url(../fonts/ArialMT.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

/* body's start */
body {
    height: 100%;
    font-family: ArialMT;
}

h1, h3, h4, p, span, li, legend {
    cursor: default;
}

a {
    outline: none;
}

/* container's start */
.container {
    width: 1280px;
    min-height: 100%;
    margin: 0px auto;
    border: 1px solid #e9eaec;
}

/* header's start */
.header {
    background-color: #445162;
}

.header h1 {
    float: left;
    margin: 0px;
    padding: 50px 0px 30px 50px;
    font-size: 60px;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.header img {
    float: right;
    margin: 60px 50px 0px 0px;
}

.ul {
    clear: left;
    padding-bottom: 50px;
}

.ul li {
    margin-left: 90px;
    list-style-image: url(../img/check_icon.png);
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
/* header's end */

/* main's start */

/* first section's start */
.s1 h3 {
    float: left;
    margin: 50px 0px 30px 50px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #445161;
}

.s1 video {
    float: right;
    margin: 50px 50px 0px 0px;
}

.s1 p {
    clear: left;
    width: 51%;
    margin: 0px 100px 20px 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
}
/* first section's end */

/* second section's start */
.s2 {
    margin-top: 70px;
    background-color: #f5f5f5;
}

.s2:after {
    content: "";
    display: block;
    clear: both;
    width: 100%;
}

.s2 h3 {
    clear: right;
    padding: 50px 0px 30px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #445161;
}

.ul1 {
    float: left;
    width: 40%;
    margin-left: 90px;
}

.ul2 {
    float: right;
    width: 40%;
    margin-right: 70px;
}

.s2 ul li {
    position: relative;
    padding-bottom: 35px;
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
}

.s2 ul li:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: -40px;
    text-align: center;
    font-size: 28px;
    line-height: 32px;
    color: #ffffff;
    background-color: #445161;
}
/* second section's end */

/* third section's start */
.s3 h3 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #445161;
}

.f1 {
    float: left;
    width: 50%;
    margin-right: 15px;
}

.f3 {
    clear: left;
    float: left;
    width: 50%;
    margin-right: 15px;
}

.s3 img {
    float: left;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.f1 img {
    margin: 35px 15px 0px 50px;
}

.f2 img {
    margin: 35px 15px 0px 0px;
}

.f3 img {
    margin: 30px 15px 0px 50px;
}

.f4 img {
    margin: 30px 15px 50px 0px;
}

.s3 h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #445161;
}

.f1 h4 {
    margin-top: 30px;
}

.f2 h4 {
    padding-top: 30px;
}

.f3 h4, .f4 h4 {
    padding-top: 25px;
}

.s3 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

.f2 p {
    margin-right: 40px;
    padding-bottom: 30px;
}

.f4 p {
    margin-right: 40px;
}
/* third section's end */

/* fourth section's start */
.s4 {
    clear: both;
    margin-top: 50px;
    background-color: #f5f5f5;
}

.s4 h3 {
    padding: 50px 0px 35px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #445161;
}

.review1, .review3 {
    float: left;
    width: 45%;
    margin: 0px 30px 30px 50px;
}

.review4 {
    margin-top: 30px;
    padding: 35px 0px 80px 0px;
}

.s4 img {
    float: left;
    padding-bottom: 45px;
}

.review1 img, .review3 img {
    margin-right: 40px;
}

.review2 img, .review4 img {
    margin-right: 20px;
}

.s4 p {
    padding: 7px 7px 7px 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: italic;
    color: #333333;
    background: url(../img/review_product.png) right no-repeat;
}

.review2 p, .review4 p {
    overflow: hidden;
    width: 35%;
}

.s4 .p1 {
    margin-left: 105px;
    padding-left: 0px;
    font-style: normal;
    color: #989898;
    background: #ebebeb;
}

.s4 .p2 {
    float: right;
    margin-right: 44px;
    padding-left: 16px;
    font-style: normal;
    color: #989898;
    background: #ebebeb;
}
/* fourth section's end */

/* fifth section's start */
.s5 {
    background-color: #ffffff;
}

.s5 h3 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #445161;
}

.buy {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

.standart, .premium, .lux {
    overflow: hidden;
    width: 25%;
    background-color: #445162;
    border-radius: 5px;
}

.standart {
    margin-left: 115px;
}

.premium {
    margin: 0px 45px;
}

.lux {
    margin-right: 115px;
}

.sp1, .sp2 {
    display: block;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

.sp1 {
    padding: 15px 0px;
    font-size: 24px;
    color: #ffffff;
    background-color: #445162;
}

.sp2 {
    padding: 18px 0px;
    font-size: 40px;
    color: #445162;
    background-color: #ffffff;
    border: 2px solid #445162;
}

.s5 ol {
    padding: 15px 0px 15px 25px;
    list-style-position: inside;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    background-color: #445162;
}

.link {
    display: block;
    width: 86%;
    height: 42px;
    margin: 0px 0px 20px 27px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 42px;
    color: #445161;
    background: #ffffff;
    border-radius: 5px;
}

.link:hover {
    height: 40px;
    background-color: aqua;
    border: 1px solid orange;
}

.link:active {
    height: 42px;
    background-color: #ffffff;
    border: none;
}
/* fifth section's end */

/* main's end */

/* footer's start */
.footer {
    background-color: #445162;
}

.footer h3 {
    padding: 50px 0px 30px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #ffffff;
}

.contacts {
    display: flex;
}

form {
    width: 45%;
    padding: 0px 0px 50px 220px;
    background-color: #445162;
}

legend, label {
    color: #ffffff;
    font-size: 20px;
}

input[type="text"], input[type="email"] {
    display: block;
    width: 95%;
    margin-bottom: 10px;
    padding: 7px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #445162;
    border: 1px solid #445162;
    border-radius: 7px;
}

input[list="dl_prefer"] {
    display: block;
    width: 70%;
    padding: 7px 3px 7px 10px;
    border: 1px solid #445162;
    border-radius: 7px;
}

textarea {
    resize: none;
    width: 95%;
    height: 170px;
    margin: 30px 0px 20px 0px;
    padding: 10px;
    border: 1px solid #445162;
    border-radius: 7px;
}

input[type="submit"] {
    display: block;
    width: 25%;
    margin: 20px 0px 0px 195px;
    padding: 7px 0px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: #445162;
    background-color: #ffffff;
    border: 1px solid #445162;
    border-radius: 7px;
}

input[type="submit"]:hover {
    background-color: aqua;
    border: 1px solid orange;
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: #ffffff;
    border: none;
    height: 44px;
}

input:focus, textarea:focus {
    background-color: aqua;
    outline: none;
}

.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 40px 0px 0px 50px;
}

.social img {
    float: left;
    padding: 15px 0px 0px 15px;
}

.social span {
    display: block;
    overflow: hidden;
    padding: 15px 0px 0px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

.socialize {
    display: flex;
    justify-content: space-around;
    margin: 40px 50px 0px 10px;
}

.socialize a {
    width: 35px;
    height: 35px;
    margin: 0px 3px;
    padding: 5px 3px 3px 10px;
    text-decoration: none;
    color: #445162;
    background-color: #ffffff;
    border-radius: 50%;
}

.fa.fa-facebook.fa-2x {
    padding: 5px 3px 3px 13px;
}

.socialize a:hover {
    padding: 2px 2px 2px 9px;
    background-color: aqua;
    border: 1px solid orange;
}

.fa.fa-facebook.fa-2x:hover {
    padding: 2px 2px 2px 12px;
}

.socialize a:active {
    background-color: #ffffff;
    border: none;
}

.copy {
    display: block;
    padding: 5px 0px;
    text-align: center;
    font-size: 13px;
    color: #445162;
    background-color: #ffffff;
}
/* footer's end */

/* container's end */

/* body's end */